.Story{
  display: inline;  
    
}
.Content {
  background-color: white;
  display:flex;
  flex-wrap: wrap;
}
h2{
  text-align: center;
  margin-top:30px;
  color:#40B3B3;
}
.kol{
  display: flex;
  flex-wrap: wrap;
}
